/* Import Google font */

/* Universal styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styling */
/* Section styling */
/* About us styling */
/* Book styling */
/* Footer styling */
